<!DOCTYPE html>
<html>
<head>
  <title>Create New Memory</title>
  <link href="../static/create.css" rel="stylesheet">
</head>
<body>
  <h1>Create A Memory</h1>
  <p1>Want to send a message to yourself or someone else in the future? Insert one valid email through each form submissionDSDS

  <form method="post">
    Send To <input name='send_to' type="text" size="75px"><br>
    Subject <input name='subject' type="text" size="100px"><br>
    Content<br> <textarea name='content'id="content"></textarea><br>
    Delivery Date <input name='delivery' type='date' id="delivery">

    <br>
    <form action="submit">
      <button>Submit</button>
    </form>
    <br>
  </form>
<script src="/static/create.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>
