<!DOCTYPE html>
<html>
<head>
  <title>Create New Memory</title>
</head>
<body>
  <form method="post">
    Send To <input name='send_to' type="text" size="75px"><br>
    Subject <input name='subject' type="text" size="100px"><br>
    Content <textarea name='content'></textarea><br>
    Delivery Date <input name='delivery' type='date'>

    <input type="submit" id="submit" value="submit"><br>
  </form>
<script src="/static/create.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>
