<!DOCTYPE html>
<html>
  <head>
    <title>My Profile</title>
    <link href="../static/profilestyle.css" rel="stylesheet">
    <link href="../static/hover.css" rel="stylesheet" media="all">
    </head>
    <body>
      <div id="overlay">
        <form id="post" method="post">
          <h1>Create A Memory</h1>
          <p>Want to send a message to yourself or someone else in the future?<br>
            Insert one valid email through each form submission!</p>

          Send To <input name='send_to' type="text" size="75px"><br>
          Subject <input name='subject' type="text" size="100px"><br>
          Content<br> <textarea name='content'id="content"></textarea><br>
          <!-- Attachment<input type="file" name="attachedfile" maxlength=50 ALLOW="text/*"><br> -->
          Delivery Date <input name='delivery' type='date' id="delivery"><br>
          <button id="submit">Submit</button>
          <br>
        </form>
      </div>
    <header>
      <img src="../static/logo2.png" alt="logo"></img>
      <h2>PROJECT M</h2>
      <a href="{{logout}}" id="SignOutButton">Sign Out</a>
    </header>
      <br>

    <section>
      <a id="create" class="button hvr-float">Create a new Memory!</a>
    </section>

    <div class="data">
      <p1>Saved Memories Chart</p1>
      <table style="width: 70%">
            <tr>
              <td class="line">Send to:</td>
              <td>Subject:</td>
              <td>Date Created:</td>
              <td>Delivery Date:</td>
              <td>Delete Option:</td>
            </tr>
            {% for post in posts %}
            <tr>
            <td>{{post.send_to}}</td>
            <td>{{post.subject}}</td>
            <td>{{post.date}}</td>
            <td>{{post.delivery}}</td>
            {% if post.attachment in posts %}
              <td>{{post.attachment}}</td>
            {% endif %}
            <!-- <td><form action="/delete"><button value={{post.key.urlsafe()}} id="delete" class="button hvr-back-pulse" name="delete">delete</button></form></td> -->
            <td>
            <form action="/delete">
              <input type='text' hidden value={{post.key.urlsafe()}} name='delete'>
              <input type='submit' value='delete' id="delete" class="delete hvr-wobble-horizontal" name="delete">
            </form></td>
            </tr>
        {% endfor %}
      </table>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="../static/profile.js"></script>
    </body>
</html>
