<!DOCTYPE html>
<html>
  <head>
    <title>My Profile</title>
    <link href="../static/profilestyle.css" rel="stylesheet">
    </head>
    <body>
      <br>
      Not You? <a href="{{logout}}">Sign Out</a>
      <br>
      <div>
        <form action="/memory">
            <button>Create a new Memory!</button>
        </form>
      <!--<table style="width: 100%">-->
        <!-- {% if Memory %} -->
        {% for post in posts %}
          <tr>
            <td>{{post.title}}</tc>
            <td>{{post.send_to}}</tc>
            <td>{{post.date}}</tc>
            <td>{{post.delivery}}</tc>
            <td><button>delete</button></tc>
          </tr>
        {% endfor %}
        <!-- {% endif %} -->
      </table>
    </body>
</html>
