@import url(http://fonts.googleapis.com/css?family=Ruda);
body {
  background-image: url('paper.jpg');
  background-color: #427fed;
  background-repeat: no-repeat;
  background-position: center;
}
form {
  text-align: center;
  font-family: 'Ruda', sans-serif;
  font-size: 20px;
}

button {
font-family: 'Ruda', sans-serif;
font-size: 20px;
color: black;
width: 100px;
display: block;
padding: 10px;
margin-left: auto;
margin-right: auto;
}


label, input {
    margin-bottom: 40px;
    width: 300px;
    height: 20px;
}

label, textarea {
  margin-bottom: 40px;
}

#delivery {
  height:25px;
  width: 200px;
  font-size: 20px;
  text-align: center;
}

#content {
  height:200px;
  width: 500px;
}
