@import url(http://fonts.googleapis.com/css?family=Ruda);

/*header{
  background: #E8BC7B;
  text-align: center;
  font-family: 'Ruda', sans-serif;
  font-family: 'Special Elite', cursive;
  padding: 40px;
  margin: 20px;
}

h1 {
  color: black;
  font-size: 40px;*/
header {
  background-color: #79BD9A;
  font-family: 'Ruda', sans-serif;
  margin: 0;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
body {
  background-color: #79BD9A;
  padding-bottom: 50px;}
img {
  width: 400px;
  height: 400px;
  padding: 5px;
}
#SignInButton {
  text-align: center;
  font-family: 'Ruda', sans-serif;
  color: black;
  font-weight: bold;
  width: 120px;
  font-size: 30px;
  display: block;
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

}

h2 {
  color: white;
  font-size: 80px;
  margin: 20px 20px 30px 20px;
}
